<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @status.user.full_name %>
</p>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>

<% if @status.user == current_user %>
  <%= link_to 'Edit', edit_status_path(@status) %> |
<% end %>
<%= link_to 'Back', statuses_path %>
